@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-VariableFont_slnt,wght.ttf');
  }
  @font-face {
    font-family: 'R-Flex Regular';
    src: url(/assets/fonts/R-FLEX-REGULAR.woff2) format('woff2');
  }
  @font-face {
    font-family: 'R-Flex Bold';
    src: url(/assets/fonts/R-FLEX-BOLD.woff2) format('woff2');
  }

  body {
    @apply font-r-flex;
  }

  h1 {
    @apply text-[64px] leading-none font-bold;
  }

  h2 {
    @apply text-[28px] leading-none font-bold;
  }

  h3 {
    @apply text-[24px] leading-none;
  }

  @keyframes pulse {
    0% {
      color: #95f9c3;
      background-color: #95f9c3;
    }

    50% {
      color: #95d5f9;
      background-color: #95d5f9;
    }

    100% {
      color: #9795f9;
      background-color: #9795f9;
    }
  }

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1e1e;
  }

  ::-webkit-scrollbar-thumb {
    background: #2f5e7d;
  }
}
